.page-header {
	text-align: center;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

/*.img {
	height:190px;
	width:120px;
	float: left;
}*/

.panel-body {
	text-align: center;
}

.work { 
	/*padding-left:130px;*/
	text-align: left;
}


.title
{font-size: large;
text-align: left}

            